---
import type { Lang } from "../../i18n/ui";
import { getLangUrl, type T } from "../../i18n/utils";

interface Props {
	t: T;
	lang: Lang;
}

const { t, lang } = Astro.props;

const parentPath = getLangUrl(Astro.url.pathname, lang).split("/").slice(0, -1);
const idiomaUrl = '/'+[...parentPath, "seletor-idioma"].join("/");
---

<div class="text-content">
	<h3>{t("testtool.home.title")}</h3>
	<p set:html={t("testtool.home.tool_developed_by")}></p>
	<p>
		{t("testtool.home.description")}
	</p>
</div>
<div class="button-group">
	<a class="btn btn-danger" href={idiomaUrl}>
		{t("testtool.home.start_button")}
	</a>
</div>

<style>
	.text-content {
		flex: 1;
		padding-right: 20px;
	}

	.button-group {
		display: flex;
		justify-content: center;
		gap: 5px;
		margin-top: 20px;
	}

	.btn {
		background-color: #dc3545;
		color: #fff;
		border: none;
		padding: 10px 20px;
		font-size: 16px;
		cursor: pointer;
		text-decoration: none;
	}

	.btn:hover {
		background-color: #c82333;
	}

	@media (max-width: 768px) {
		.text-content,
		.image-content {
			flex: 100%;
			padding-right: 0;
		}
	}
</style>
