---
import NotFound from "../components/404.astro"
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="10; url=/">
    <title>Redirecionando...</title>
</head>
<body>
    
  <NotFound>
    <Fragment slot="title">
        Página não encontrada
    </Fragment>

    <Fragment slot="description">
      Se você não for redirecionado em 10 segundos, <a href="/">clique aqui</a>.
    </Fragment>
  </NotFound>
</body>
</html>
