---
---
<section>
	<svg xmlns="http://www.w3.org/2000/svg" width="444" height="572" viewBox="0 0 444 572" fill="none">
		<g clip-path="url(#clip0_1_2)">
			<path d="M371.033 526.97C371.986 545.145 361.515 552.053 348.189 552.752C334.863 553.45 323.728 547.671 322.775 529.499C321.823 511.327 354.205 483.053 354.205 483.053C354.205 483.053 370.081 508.799 371.033 526.97Z" fill="#F2F2F2"/>
			<path d="M338.351 549L342.017 534.217L356.292 518.176L342.594 531.903L344.243 525.256L354.227 513.571L344.678 523.492L347.643 511.536L357.49 502.672L348.11 509.657L353.312 487.681L345.82 516.638L346.161 515.451L341.293 502.183L345.504 517.729L341.713 530.966L341.774 530.606L335.894 516.473L341.457 531.855L340.982 533.511L340.961 533.533L340.936 533.672L331.305 567.266L333.688 567.816L338.028 550.319L349.742 538.963L338.351 549Z" fill="#D6D6E3"/>
			<path d="M335.409 570.795H325.76V5.269C325.76 3.98946 326.268 2.76233 327.173 1.85756C328.078 0.95279 329.305 0.444489 330.584 0.444489C331.864 0.444489 333.091 0.95279 333.996 1.85756C334.901 2.76233 335.409 3.98946 335.409 5.269V570.795Z" fill="#E6E6E6"/>
			<path d="M421.164 571.328H230.864C230.703 571.365 230.535 571.365 230.374 571.329C230.213 571.292 230.062 571.22 229.932 571.117C229.803 571.014 229.698 570.883 229.627 570.734C229.555 570.585 229.517 570.421 229.517 570.256C229.517 570.091 229.555 569.927 229.627 569.778C229.698 569.629 229.803 569.498 229.932 569.395C230.062 569.292 230.213 569.22 230.374 569.183C230.535 569.147 230.703 569.147 230.864 569.184H421.164C421.325 569.147 421.493 569.147 421.654 569.183C421.815 569.22 421.966 569.292 422.096 569.395C422.225 569.498 422.33 569.629 422.401 569.778C422.473 569.927 422.511 570.091 422.511 570.256C422.511 570.421 422.473 570.585 422.401 570.734C422.33 570.883 422.225 571.014 422.096 571.117C421.966 571.22 421.815 571.292 421.654 571.329C421.493 571.365 421.325 571.365 421.164 571.328Z" fill="#CCCCCC"/>
			<path d="M402.361 74.418H261.972C260.693 74.4164 259.467 73.9077 258.563 73.0033C257.658 72.099 257.15 70.8729 257.148 69.594V28.854C257.15 27.5751 257.658 26.349 258.563 25.4447C259.467 24.5403 260.693 24.0316 261.972 24.03H402.372C403.195 24.0306 404.004 24.2412 404.723 24.642L441.029 44.903C441.777 45.3205 442.401 45.9299 442.836 46.6684C443.271 47.4069 443.501 48.2479 443.503 49.1049C443.505 49.9619 443.278 50.804 442.847 51.5445C442.415 52.2849 441.795 52.8971 441.048 53.318L404.732 73.796C404.008 74.2034 403.192 74.4176 402.361 74.418Z" fill="#FFDB63"/>
			<path d="M389.55 162.329H249.163C248.333 162.328 247.517 162.114 246.794 161.707L210.478 141.229C209.731 140.808 209.11 140.196 208.679 139.455C208.248 138.715 208.021 137.873 208.023 137.016C208.025 136.159 208.255 135.318 208.69 134.579C209.125 133.841 209.749 133.231 210.497 132.814L246.803 112.553C247.522 112.152 248.331 111.942 249.154 111.941H389.554C390.833 111.943 392.059 112.451 392.963 113.356C393.868 114.26 394.376 115.486 394.378 116.765V157.504C394.376 158.783 393.868 160.009 392.963 160.913C392.059 161.818 390.833 162.326 389.554 162.328L389.55 162.329Z" fill="#E6E6E6"/>
			<path d="M390.086 248.632H249.699C248.869 248.631 248.053 248.417 247.33 248.01L211.014 227.532C210.267 227.111 209.647 226.499 209.215 225.758C208.784 225.018 208.557 224.176 208.559 223.319C208.561 222.462 208.791 221.621 209.226 220.882C209.661 220.144 210.285 219.535 211.033 219.117L247.339 198.856C248.058 198.455 248.867 198.245 249.69 198.244H390.09C391.369 198.246 392.595 198.754 393.499 199.659C394.404 200.563 394.912 201.789 394.914 203.068V243.807C394.912 245.086 394.404 246.312 393.499 247.216C392.595 248.121 391.369 248.629 390.09 248.631L390.086 248.632Z" fill="#E6E6E6"/>
			<path d="M83.07 386.38L81.42 444.127L63.82 511.774C63.82 511.774 67.67 523.323 64.92 526.074C62.17 528.825 49.52 533.774 49.52 533.774L59.969 389.681L83.07 386.38Z" fill="#090814"/>
			<path d="M44.861 525.792C44.861 525.792 38.585 539.599 47.371 540.855C56.157 542.111 96.743 545.455 94.233 538.345C91.723 531.235 61.179 524.538 61.179 524.538L44.861 525.792Z" fill="#090814"/>
			<path d="M21.474 335.233C21.474 335.233 28.074 370.981 32.474 377.033C36.874 383.085 30.274 427.08 30.274 427.08C30.274 427.08 20.374 490.327 24.774 500.226C29.174 510.125 28.074 506.826 27.524 512.326C26.974 517.826 25.874 522.226 27.524 527.175C29.174 532.124 29.174 531.575 29.724 534.325C30.274 537.075 29.724 551.925 29.724 551.925C29.724 551.925 53.373 560.175 57.224 548.075C57.224 548.075 51.724 540.375 53.374 534.326C55.0945 528.238 56.0188 521.952 56.124 515.626V504.074L81.424 409.474L87.474 375.374C87.474 375.374 85.824 340.726 79.774 337.426C73.724 334.126 21.474 335.233 21.474 335.233Z" fill="#090814"/>
			<path d="M31.373 549.172C31.373 549.172 23.123 567.321 34.673 568.972C46.223 570.623 99.573 575.022 96.273 565.672C92.973 556.322 52.825 547.523 52.825 547.523L31.373 549.172Z" fill="#090814"/>
			<path d="M41.828 176.864C53.9777 176.864 63.827 167.015 63.827 154.865C63.827 142.715 53.9777 132.866 41.828 132.866C29.6783 132.866 19.829 142.715 19.829 154.865C19.829 167.015 29.6783 176.864 41.828 176.864Z" fill="#FFB9B9"/>
			<path d="M26.369 164.586L26.779 192.68L53.7499 192.771C53.7499 192.771 46.9049 170.778 49.9709 166.179C53.0369 161.58 26.369 164.586 26.369 164.586Z" fill="#FFB9B9"/>
			<path d="M66.571 208.189C66.571 208.189 47.322 183.44 32.471 193.889C17.62 204.338 12.122 229.089 12.122 229.089L15.422 298.389C15.422 298.389 23.672 308.289 18.722 314.889C13.772 321.489 11.022 319.839 14.872 324.789C18.722 329.739 23.122 333.589 21.472 335.239C19.822 336.889 23.122 337.989 23.122 337.989L81.422 339.639C81.422 339.639 79.772 337.439 84.722 330.839C89.672 324.239 83.622 315.439 84.722 312.139C85.822 308.839 86.922 312.689 87.472 304.989C88.022 297.289 66.571 208.189 66.571 208.189Z" fill="#E6E6E6"/>
			<path d="M61.071 350.082C61.071 350.082 62.171 363.831 70.421 366.031C73.515 366.856 75.835 365.283 77.527 362.995C79.1067 360.802 79.9924 358.186 80.0694 355.485C80.1464 352.783 79.4112 350.121 77.959 347.842L75.921 344.582L61.071 350.082Z" fill="#FFB9B9"/>
			<path d="M10.194 180.415C10.194 180.415 9.64397 191.415 10.194 193.064C10.744 194.713 11.294 196.364 10.194 198.014C9.09397 199.664 9.64396 205.164 10.744 205.714C11.844 206.264 8.54395 211.214 9.64395 214.514C10.3195 216.458 11.2439 218.307 12.394 220.014C12.944 221.114 13.83 223.085 13.83 223.085C13.83 223.085 29.994 188.665 43.194 196.914C56.394 205.163 66.843 207.914 66.843 207.914C66.843 207.914 59.694 169.416 10.194 180.415Z" fill="#E6E6E6"/>
			<path d="M34.123 205.985C34.123 205.985 16.523 207.635 17.623 230.734C18.723 253.833 15.973 290.134 15.973 290.134C15.973 290.134 46.2219 336.334 51.1729 339.634C56.1239 342.934 56.673 342.384 56.123 345.134C55.573 347.884 55.023 350.084 57.223 352.284C58.5217 353.592 60.0039 354.703 61.623 355.584C61.623 355.584 79.223 349.534 77.572 344.035C75.921 338.536 68.222 329.735 68.222 329.735C68.222 329.735 55.022 308.286 54.473 304.986C53.924 301.686 53.9229 302.236 52.2729 300.586C50.6229 298.936 46.223 292.336 46.223 289.037V278.585L50.834 222.743C51.0432 220.469 50.7689 218.176 50.029 216.015C49.2891 213.854 48.1004 211.875 46.541 210.206C44.9727 208.542 43.0211 207.288 40.8565 206.552C38.6919 205.816 36.3801 205.622 34.123 205.985Z" fill="#E6E6E6"/>
			<path opacity="0.1" d="M18.649 297.991L49.522 338.056C49.522 338.056 21.094 314.292 18.649 297.991Z" fill="black"/>
			<path opacity="0.1" d="M48.282 253.633L47.99 291.471L65.921 318.371L51.25 288.214L48.282 253.633Z" fill="black"/>
			<path d="M36.036 168.647C37.3995 167.401 39.19 166.753 40.7663 165.79C43.5372 163.975 45.566 161.227 46.485 158.044C47.4039 154.862 47.1521 151.455 45.7753 148.442C45.3252 147.702 44.9996 146.893 44.8113 146.047C44.5592 144.134 46.1425 142.448 47.8566 141.547C49.5707 140.646 51.5165 140.21 53.0787 139.077C54.2438 138.14 55.1447 136.916 55.6924 135.526C56.2402 134.135 56.4159 132.625 56.2022 131.146C55.7295 128.181 54.3314 125.441 52.2077 123.318L52.0424 125.381C50.8204 124.793 49.7881 123.873 49.0629 122.727C48.3481 123.045 47.727 123.542 47.2591 124.169C46.7912 124.796 46.4922 125.533 46.3907 126.309C45.4975 127.204 44.6825 124.69 43.4203 124.615C42.8914 124.683 42.4066 124.945 42.0592 125.35C39.9955 127.054 37.0251 126.824 34.3498 126.87C29.718 126.956 25.1714 128.131 21.0774 130.299C18.2859 131.639 15.9307 133.743 14.2841 136.365C13.137 138.629 12.4441 141.095 12.2448 143.625C11.4717 149.801 11.573 156.24 13.8586 162.03C15.7391 166.764 18.9797 170.836 23.1714 173.731C25.3606 175.231 32.5887 180.558 35.2954 178.627C38.6958 176.202 32.1956 172.151 36.036 168.647Z" fill="#090814"/>
			</g>
			<defs>
				<clipPath id="clip0_1_2">
					<rect width="443.99" height="572" fill="white" transform="translate(0.010376)"/>
			</clipPath>
		</defs>
	</svg>
	<h1><slot name="title" /></h1>
	<p><slot name="description" /></p>
	<div>
		<h3>Lista de redirecionamentos</h3>
		<ol><slot name="bridge-links" /></ol>
	</div>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 600px;
		gap: 50px;
		font-family: sans-serif;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	svg {
		max-width: 300px;
		margin: 0 auto;
		display: block;
	}

    div {
      padding: 1rem;
      background: #f5f5f5;
      border-radius: 8px;
      text-align: left;
    }
	div:has(ol:empty) {
		display: none;
	}
    
    div h3 {
      margin: 0 0 0.5rem 0;
      font-size: 0.9rem;
      color: #666;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
    
    div ol {
      margin: 0;
      padding-left: 1.5rem;
      list-style: decimal;
    }
    
    div :global(li) {
      margin: 0.25rem 0;
      font-family: monospace;
      font-size: 0.9rem;
      color: #333;
	  line-break: anywhere;
    }
</style>
