---
import type { Lang } from "../../../i18n/ui";
import { getLanguages } from "../../../i18n/utils";

export function getStaticPaths() {
	return getLanguages().map((lang) => ({ params: { lang: lang as Lang } }));
}

const { lang } = Astro.params;
---
<!DOCTYPE html>
<body data-lang={lang}>
	<script>
		const { lang } = document.body.dataset
		window.location.replace(`/alfa/teste/${lang}/inicio`)
	</script>
</body>